<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Verse!</title>
  </head>
  <body>
    <content>
      <!-- You can run and experiment with this example with `zig build run-template` -->
      <h1>Verse Template Example</h1>
      <!-- Simple Variables that can be replaced by simple slice -->
      <p><SimpleVariable /></p>
      <!-- The trailing / is optional in Verse, but the HTML is likely invalid -->
      <p><SimpleVariable></p>
      <!-- Adding or removing variables will generate a compile error. -->
      <!-- The leading space will cause Verse to ignore this tag -->
      <!-- Because this var is not provided using it will cause an error. -->
      <p>< RequiredButMissing /></p>
      <!-- Deleting the next tag, will also cause a compile error because -->
      <!-- this variable is provided by the example endpoint. -->
      <p><RequiredAndProvided /></p>


      <!-- All variables are required by default, but you can use null as well -->
      <p><NullVariable ornull /></p>
      <!-- You can specify your own default via the HTML as well -->
      <p><DefaultProvided default="This default will be replaced by the endpoint" /></p>
      <p><DefaultMissing default="This default will used here" /></p>
      <!-- Providing valid slices gives you more control of the memory needed -->
      <!-- generate any HTML, but there is support for some Zig types -->
      <p>The first number: <PositiveNumber type="usize" /></p>


      <!-- Once a name exists, you can't not change the type -->
      <!-- The following tags would be invalid and cause a compile error -->
      <!--
        <SimpleVariable ornull />
        <SimpleVariable default="Invalid" /></p>
        <SimpleVariable type="usize" /></p>
      -->

      <!-- Some logic is also supported -->
      <With OptionalWith>
      <p>These internal tags are only seen if optional is defined.</p>
      <p>Because there are no variables within this With block,
      the generated struct is empty. Inspecting the generated types
      will look similar to <pre>pub const OptionalWith = struct{};</pre>.
      `null` or `.{}` are acceptable values.</p>
      </With>

      <!-- With also allows you to create a pseudo-namespace -->
      <With NamespacedWith>
      <!-- Be careful when using blocks in this way. Preventing variable -->
      <!-- name shadowing equal to zig is a still a planned future goal -->
        <p>Namespaced Variable : <SimpleVariable /></p>
      </With>

      <!-- Possibly the most common logic directive. For will take a slice -->
      <!-- of a Struct, and follows the previous rules of With and variables. -->
      <For BasicLoop>
        <p style="color:<Color>"><Text /></p>
      </For>
      <!-- If you have a simple list, that doesn't require any namespace -->
      <!-- features (or the corresponding type checking) Split will take -->
      <!-- a slice of []const u8, from a simple named variable -->
      <p><Split Slices /></p>

      <!-- TODO Write and Document-->
      <!--
        < Build TemplateVars _template_name.html />
      -->
    </content>
  </body>
</html>
